node_modules/
dist/
dist-electron/
out/
**/release/
**/out/
*.tsbuildinfo

*.local
.env
.env.*
!.env.example
*.log
npm-debug.log*
pnpm-debug.log*
.DS_Store
Thumbs.db

# editors
.idea/
.vscode/*
!.vscode/extensions.json

# electron-builder
*.dmg
*.exe.blockmap
*.deb
*.AppImage

# downloaded models / temp during dev
resources/models/*
!resources/models/.gitkeep

SPEC.md
